
/* chapter1, part6 */
/* .part6 {
    color: brown;
    text-align: center;
    background-color: blanchedalmond;
    margin: auto 300px;
} */

/* chapter1, part7 */
/* .part7 {
    color: gainsboro;
    text-align: center;
    background-color: grey;
    margin: auto 300px;
} */



